html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.centered {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#mapHolder {
  height: 100vh;
  width: 100%;
}

#map {
  height: 100%;
}

/* ---------------------Overlay Styling--------------------- */

#overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

#overlayContent {
  color: white;
  display: flex;
  flex-direction: column;
}

#overlay h1 {
  top: 5%;
}

#closeOverlayBtn {
  bottom: 5%;
}

#closeOverlayBtn:hover {
  cursor: pointer;
}

#searchTab {
  margin-top: 50px;
}

/* ---------------------Search Styling--------------------- */

#search {
  color: #212529;
  text-align: center;
}

#title {
  font-size: 1.1em;
}

#criteria {
  font-size: .5em;
  list-style: none;
}

#buttons {
  display: grid;
  gap: 1vh 1vw;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(auto, 150px);
  padding: 2vh 2vw;
}

/* ---------------------Results Styling--------------------- */

#resultsMenu {
  background-color: rgba(0, 0, 0);
  color: white;
  height: 100%;
  overflow: hidden;
  position: fixed;
  right: -20vw;
  text-align: center;
  top: 0;
  transition: 0.5s;
  width: 20vw;
  z-index: 1;
}

#resultsList {
  height: 60vh;
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

#resultsList>li{
  cursor: pointer;
}